<div class="parent">
    <div class="top">
        <h1>employees data</h1>
        <form (ngSubmit)="register()">
           
            <h3>employee's registration</h3>

            <div >
                <label for="emp_id">employee id</label>
                <input id="emp_id" type="number" [(ngModel)]="newEmployee.emp_id" name="emp_id">
            
                <label for="emp_name">employee name</label>
                <input id="emp_name" type="text" [(ngModel)]="newEmployee.emp_name" name="emp_name">
            
                <label for="role">role</label>
                <input id="role" type="text" [(ngModel)]="newEmployee.role" name="role">
            </div>
            <div>
                <label for="j_date">joinning date</label>
                <input id="j_date" type="date" [(ngModel)]="newEmployee.j_date" name="j_date">
            
                <label for="phoneno">phone no:</label>
                <input id="phoneno" type="number" [(ngModel)]="newEmployee.phoneno" name="phoneno">
            
                <label for="email">email:</label>
                <input id="email" type="email" [(ngModel)]="newEmployee.email" name="email">
            </div>
            <div>
                <label for="dob">dob:</label>
                <input id="dob" type="date" [(ngModel)]="newEmployee.dob" name="dob">
            
                <label for="">gender</label>
                <input type="radio" [(ngModel)]="newEmployee.gender" value="male" name="gender">
                <label for="">male</label>
                <input type="radio" [(ngModel)]="newEmployee.gender" value="female" name="gender">
                <label for="">female</label>
                <label for="">address</label>
                <textarea name="address" [(ngModel)]="newEmployee.address"></textarea>
            </div>
            <div class="b">
                <button type="submit">register</button>
                <button type="reset">clear</button>
            </div>
        </form>

    </div>
    <div class="bottom">
        <table>
            <thead>
                <tr>
                    <th>s.no</th>
                    <th>Emp_id</th>
                    <th>Emp_name</th>
                    <th>Roll</th>
                    <th>Joinning Date</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees ; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{employee.emp_id}}</td>
                    <td>{{employee.emp_name}}</td>
                    <td>{{employee.role}}</td>
                    <td>{{employee.j_date | date:'dd/MM/yyyy'}}</td>
                    <td>{{employee.phoneno}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.dob | date:'dd/MM/yyyy'}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.address}}</td>

                    <td>
                        <button (click)="delete(i)">delete</button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>