


    /* Parent container styles */
    .parent {
        background-color: #bab8b8;
        height: 100vh;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Child container styles */
    .child {
        text-align: center;
        background-color: white;
        width: 30%;
        height: 40%;
    }
    h1{
        text-transform: uppercase;
    }

    /* Label styles */
    label {
        text-transform: capitalize;
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    /* Input styles */
    input[type="number"] {
        padding: 8px;
        width: 100px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /* Button styles */
    button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

    /* Button hover effect */
    button:hover {
        background-color: #45a049;
    }

    /* Result heading styles */
    h4 {
        margin-top: 20px;
        font-size: 20px;
        color: #333;
    }
    .child button:disabled{
        opacity: 0.5;
    }
