<p>login works!</p>
<div class="parent">
    <div class="child">
        <form action="">
            <h1>Welcome</h1>
            <img src="" alt="">
            <div>
                <label for="">email</label>
                <input type="email" placeholder="email">
            </div>
            <div>
                <label for="">password</label>
                <input type="number" placeholder="password">
            </div>
            <button routerLink="/dashboard">login</button>
        </form>

    </div>
</div>