.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.child{
    width: 20%;
    height: 45%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    
    

    
    
}
h1{
    display: flex;
    justify-content: center;
    
}
div>label,input{
    
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 10px;
  
    font-weight: 600;
    cursor: pointer;
    width: 60px;
    background-color: rgb(89, 150, 89);

    
}