<p>login works!</p>

<div class="child">
    <form [formGroup]="loginForm">

        <h1>Login</h1>

        <label for="">Email:</label>
        <input type="email" formControlName="email">
        <br>
        <label for="">Password:</label>
        <input type="text" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Password should contain one cap, .....</p>

        </div>
        <br>
        <button (click)="login()">login</button>
    </form>

</div>